/*Variabler*/
$bg-color: #000000;
$nav-color: #000000;
$footer-color: #000000;
$primary-color: #509874;
$secondary-color: #FCC333;
$text-color: #ffffff;
$font: Georgia; 
$text-shadow: 1px 1px 1px #615f5f;
$box-shadow: #394740;
